body {
      font-family: Arial, sans-serif;
      margin: 2rem;
      line-height: 1.5;
      align-items: center;
    }
     h1{
     text-align: center;
    } 
 form {
      max-width: 400px;
      margin: 0 auto;
    }

label{
    display: inline-block;
    width: 100px;
    margin-top: 1rem;
}
button{
     display: block;
    margin:0 auto;
    color: black;
    background-color: azure; 
}
input,button{
    width:50%;
    padding: 0.5rem;
    margin-top: 0.5rem;    
}

fieldset {
      padding: 1rem;
      margin-bottom: 1rem;  
    }